<div class="container">
  <header>
    <h1>
      <pre>
██╗     ███████╗███╗   ███╗██████╗ 
██║     ██╔════╝████╗ ████║╚════██╗
██║     █████╗  ██╔████╔██║ █████╔╝
██║     ██╔══╝  ██║╚██╔╝██║██╔═══╝ 
███████╗███████╗██║ ╚═╝ ██║███████╗
╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝
       </pre>
    </h1>
  </header>
  <main>
    <section>
     
      <h2>Algorytm LEM2</h2>
      <p>Algorytm LEM2 jest jednym z algorytmów w teorii zbiorów przybliżonych. Służy do generowania reguł decyzyjnych na podstawie zbioru danych, które mogą być używane do klasyfikacji obiektów.</p>
      <p>Algorytm LEM2 ma na celu znalezienie minimalnych warunków wystarczających do przypisania obiektu do danej klasy decyzyjnej. Działa iteracyjnie, analizując atrybuty obiektów i tworząc reguły decyzyjne oparte na dostępnych danych.</p>
    </section>
    <section>
      <h2>Cechy algorytmu LEM2</h2>
      <p>* Generuje minimalne reguły decyzyjne.</p>
      <p>* Może obsługiwać dane z niepełnymi informacjami.</p>
      <p>* Wykorzystuje teorię zbiorów przybliżonych do analizy danych.</p>
      <p>* Jest używany w systemach eksperckich i przetwarzaniu danych decyzyjnych.</p>
    </section>
  </main>
</div>
